.categorycard {
    width: 100%;
    background: white;
    color: #333;
    border: 4px solid var(--col1);
    box-shadow: 10px 10px 0 0px var(--col1light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 40px;
    cursor: pointer;
}


.categorycard:hover{
    background-color: var(--col1);
    color: white;
}