/* styles/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: #000000;
  color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar .icon {
  font-size: 30px;
}

.navbar-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-left a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}


.navbar-middle img {
  height: 30px;
  object-fit: contain;
}

.navbar-right a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.navbar-right a:hover {
  color: var(--col1);
}

.navbar .icon:hover {
  fill: var(--col1);
}


.navbar-right button{
  background-color: black;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 500;
  color: white;
 }
 .navbar-right button:hover{
  background-color: white;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 500;
  color: black;
  cursor: pointer;
 }
  /* Add more styles as needed */
  