footer{
    /* backgroundColor: 'yellow',
    color: '#333', // You can choose a color that matches your design
    padding: '10px',

    textAlign: 'center', */
margin-top: 20px;;
    background-color:  black;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}